:root {
    --primary-bg-color: #2d2d2d;
    --primary-dark-color:#1C1C1C;
    --primary-text-color: #f0eff4;
    --secondary-grey-color:#6c6c6c;
    --pink-neon-color:#ff006d
  }
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* *{
    border: solid white 1px;
} */
/* Fonts */
h1 { 
    font-size: 4em;
}
h3.title {
    font-size: 2rem;
}
.bio > div {
     font-size: 1.3rem;
}
.projects .section-title, .experience .section-title, .contact .section-title{
    padding-bottom: 3rem;
    font-size: 2rem;
    font-weight: 600;
}
/* General */
body {
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
}
img {
    max-width: 100%;
    height: auto;
}

.flex{
display: flex;
}
.wrapper {
    flex-direction: column;
    gap: 5rem;
    padding-left: 1rem;
}

.header,.footer,.skills,.experience-list,form,.section-title,.contact-options {
    max-width: 1218px;
    margin: 0 auto;
}
/* Header and main banner */
.header{
    font-size: 22px;
    background-color: var(--primary-dark-color);
    opacity: 90%;
    border: solid var(--pink-neon-color) 1px;
    border-radius: 30px;
    width: 600px;
    height: 60px;
    position: sticky;
    top: 30px;
    left: 55%;
}
nav {
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 3rem;

}
.main-hero {
    justify-content: center;
    min-height: 70svh;
    align-items: center;
}
.main-hero .bio{
    flex-basis: 50rem;
    padding-left: 1rem;
}
.main-hero .photo {
    flex-basis: 30rem;
    padding-right: 1rem;
}
.photo > img {
    border-radius: 500px;
}

/* SKills section */
.skills {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.tab-switch {
    text-align: center;
    background-color: var(--primary-dark-color);
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    width: 20em;
    height: 50px;
}
.tab-switch > div {
        border: solid white 1px;
        flex-basis: 45%;
        height: 80%;
        border-radius: 50px;
        padding-top: 0.5rem;
}
.skills-list,.interests-list {
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.skills-list > div, .interests-list > div {
    background-color: var(--primary-dark-color);
    border: solid var(--secondary-grey-color) 1px;
    border-radius: 10px;
    flex-basis: 130px;
    height: 150px;
}
.hidden {
    display: none;
}
.skills-single,.interests-single{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* sprite */
/* TODO: FIX POSITIONS */
.sprite {
    width: 50px;
    height: 55px;
    background-image: url(./data/sprite.png);
    background-repeat: no-repeat;
    background-size: 400px;
}
.skills-single.js {
    border-top-color: orange;
}
.sprite.js        { background-position: -40px  -69px; }
.sprite.ts        { background-position: -110px -69px; }
.sprite.git       { background-position: -175px -68px; }
.sprite.playwright{
    width: 60px;
    height: 55px;
    background-position: -235px -69px; }
.sprite.cypress   { background-position: -310px -69px; }

.sprite.postman   { background-position: -41px  -138px; }
.sprite.cicd      { background-position: -110px -138px; }
.sprite.htmlcss   { background-position: -175px -138px; }
.sprite.jira      { background-position: -240px -138px; }
.sprite.azure     { background-position: -175px -207px; }

.sprite.graphql   { background-position: -40px  -205px; }
.sprite.api       { background-position: -110px -207px; }
.sprite.testtools { background-position: -310px -135px; }
.sprite.datadog   {    width: 60px;
    height: 55px; background-position: -240px -207px; }
.sprite.functional{    width: 60px;
    height: 55px; background-position: -175px  -270px; }
.sprite.mobile    { background-position: -240px -268px; }
.sprite.load      { background-position: -310px  -270px; }

.sprite.cat       { background-position: -40px -270px; }
.sprite.gym       {    width: 60px; background-position: -110px -393px; }
.sprite.travel    { background-position: -175px -393px; }

.sprite.organize  { background-position: -175px -330px; }
.sprite.cooking   { background-position: -240px -450px; }
.sprite.walking   { width: 60px;background-position: -240px -330px; }

.sprite.music     { background-position: -40px -450px; }
.sprite.craft     { background-position: -110px -450px; }
.sprite.gaming    {width: 60px; background-position: -309px -450px; }

/* Projects */

.project-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.project-single {
    flex-direction: column;
    border: solid var(--secondary-grey-color) 1px;
    background: linear-gradient(var(--primary-bg-color) 60%, var(--primary-dark-color));
    border-radius: 10px;
    flex: 0 1 350px;
    height: 450px;
}


.project-photo > img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 1px #FF47DA;
}
.project-info {
    flex-direction: column;
    padding: 0 1em;
}
.project-info > h3 {
    font-size: 22px;
    margin: 0;
    flex: 1 1 25%;
}
.project-info > p {
    font-size: 18px;
    flex: 1 1 50%;
}
.project-stack{
    gap: 1rem;
    flex: 1 1 25%;
}
.project-stack > div {
    text-align: center;
    border: solid pink 1px;
    border-radius: 10px;
    min-width: 50px;
    padding: 3px;
}
/* Experience-list */
.experience-list {
    flex-direction: column;
    gap: 3rem;
}
.experience-block {
    border: solid white 1px;
    padding-left: 1rem;
    border-radius: 30px;
    background-color: var(--primary-dark-color);
    width: 98%;
}
.job-title {
    font-size: 24px;
    margin-bottom: 0;
    
}
.company-name {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    opacity: 80%;
    font-weight: 400;
}
.dates{
    font-size: 14px;
    opacity: 70%;
}
.experience-block p:nth-child(4) {
    font-size: 18px;
}

form {
    flex-direction: column;
    gap: 0.5rem;

    width: 55%;
    max-width: 100%;
}
.contact-data {
    gap: 0.5rem;

}
.contact-data > div {
    flex-basis: 50%;
}
input,textarea,button {
    width: 100%;
}
/* Contact links */
.contact-options {
    justify-content: center;
    gap: 2rem;
}
.contact-options > div {
    flex-basis: 40px;
}

.footer {
    margin-bottom: 4rem;
    flex-direction: column;
    gap: 1rem;
}
.footer div.text {
    font-size: 18px;
}

@media screen and (max-width: 768px){
    .main-hero {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .header{
        top: 0;
        left: 0;
        width: 100%;
        min-height: fit-content;
    }
    .project-list {
        width: 100%;
    }
    .project-single {
        flex-basis: auto;
        max-width: 60%;
        height: 500px;
    }


}
@media screen and (max-width:600px) {
    nav {
        flex-wrap: wrap;
        min-height: fit-content;
        padding-top: 3px ;
    }
    nav > div {
        flex-basis: 20%;
    }
    .project-single {
        max-width: 80%;
        height: 500px;
    }
    .project-stack {
        flex-wrap: wrap;
    }
}