*,
*::before,
*::after {
  box-sizing: border-box;
}
/* *{
    border: solid white 1px;
} */
body {
    margin: 0;
    color: #E2E8F0;
    background-color: #0F172A;
}
img {
    max-width: 100%;
    height: auto;
}
.flex{
display: flex;
}
.wrapper {
    flex-direction: column;
    gap: 3rem;
}

.header,.footer,.skills {
    max-width: 1218px;
    margin: 0 auto;
}
nav {
    justify-content: center;
    gap: 3rem;
}
.main-hero {
    justify-content: space-evenly;
    height: 60svh;
}
.main-hero .bio{
    flex-basis: 50rem;
}
.main-hero .photo {
    flex-basis: 30rem;
}

/* SKills section */
.skills {
    width: 100%;
    flex-direction: column;
align-items: center;
}
.tab-switch {
    justify-content: center;
    gap: 1rem;
    width: 20em;
}
.skills-list,.interests-list {
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.skills-list > div, .interests-list > div {
    flex-basis: 30%;
}
.hidden {
    display: none;
}

/* Projects */
.project-list {
    justify-content: center;
    gap: 4rem;
    height: 450px;
}
.project-single {
    flex-direction: column;
    border: solid white 1px;
    flex: 0 0 350px;
}
.project-photo {
    flex-basis: 50% ;
}
.project-photo > img {
    width: 100%;
}
.project-info {

    flex-direction: column;
    flex-basis: 40%;
}
.project-stack{

    flex-basis: 10%;
}