:root {
    --primary-bg-color: #2d2d2d;
    --primary-dark-color:#1C1C1C;
    --primary-text-color: #f0eff4;
  }
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* *{
    border: solid white 1px;
} */
/* Fonts */
h1 { 
    font-size: 70px;
}
h3.title {
    font-size: 30px;
}
.bio > div {
    font-size: 20px;
}
/* General */
body {
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
}
img {
    max-width: 100%;
    height: auto;
}

.flex{
display: flex;
}
.wrapper {
    flex-direction: column;
    gap: 5rem;
}

.header,.footer,.skills,.experience-list,form,.section-title {
    max-width: 1218px;
    margin: 0 auto;
}
/* Header and main banner */
.header{
    background-color: var(--primary-dark-color);;
    opacity: 90%;
    border: solid var(--primary-dark-color) 1px;
    border-radius: 30px;
    width: 600px;
    height: 60px;
    position: sticky;
    top: 30px;
    left: 55%;
}
nav {
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 3rem;

}
.main-hero {
    justify-content: center;
    height: 70svh;
    align-items: center;
}
.main-hero .bio{
    flex-basis: 50rem;
    padding-left: 1rem;
}
.main-hero .photo {
    flex-basis: 30rem;
    padding-right: 1rem;
}
.photo > img {
    border-radius: 500px;
}

/* SKills section */
.skills {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.tab-switch {
    text-align: center;
    background-color: var(--primary-dark-color);
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    width: 20em;
    height: 40px;
}
.tab-switch > div {
        border: solid white 1px;
        flex-basis: 45%;
        height: 80%;
        border-radius: 50px;
        padding-top: 0.3rem;
}
.skills-list,.interests-list {
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.skills-list > div, .interests-list > div {
    border: solid white 1px;
    flex-basis: 130px;
    height: 150px;
}
.hidden {
    display: none;
}

/* Projects */
.project-list {
    justify-content: center;
    gap: 4rem;
    height: 450px;
}
.project-single {
    flex-direction: column;
    border: solid white 1px;
    flex: 0 0 350px;
}
.project-photo {
    flex-basis: 50% ;
}
.project-photo > img {
    width: 100%;
}
.project-info {
    flex-direction: column;
    flex-basis: 40%;
}
.project-stack{
    flex-basis: 10%;
}
/* Experience-list */
.experience-list {
    flex-direction: column;
    border: solid white 1px;
    gap: 3rem;
}
.experience-block {
    border: solid white 1px;
}
/* Form */
form {
    flex-direction: column;
    gap: 0.5rem;
    border: solid white 1px;
    width: 55%;
    max-width: 100%;
}
.contact-data {
    gap: 0.5rem;
    border: solid white 1px;
}
.contact-data > div {
    flex-basis: 50%;
}
input,textarea,button {
    width: 100%;
}